.person-icon {
  padding: 0 14px;
}

.person-spacer {
  flex: 1 1 auto;
}

#add-person {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

mat-card {
  margin-top: 2%;

  span {
    font-weight: bold;
    font-size: 16px;
    color: #C5CAE9;
  }

  .filters-container {
    margin-top: 10px;
    margin-right: 0px !important;

    .col-md-3 > mat-form-field {
      width: 100%;
    }

    .col-md-8 > mat-error {
      line-height: 2em;
    }
  }

  .search-button > button {
    float: right;
  }
}

.btn-tools {
  line-height: 4;

  mat-icon:hover {
    cursor: pointer;
  }
}

.list-persons {
  overflow-x: hidden;
}