<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>PWX</span>
    <span class="person-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<button id="add-person" (click)="addPerson()" mat-fab>
  <mat-icon aria-label="Add person">{{ creating ? 'clear' : 'person_add' }}</mat-icon>
</button>

<div class="container">
  <mat-card>
    <span>Aplicar busca</span>
    <div class="row filters-container">
      <div class="col-md-3">
        <mat-form-field hintLabel="Máximo de 150 caracteres">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Victor Magalhães" maxlength="150" [(ngModel)]="search.name" name="name" [type]="text">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>CPF</mat-label>
          <input matInput placeholder="000.000.000-00" maxlength="14" [(ngModel)]="search.cpf" name="cpf" [type]="text">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Data de nascimento</mat-label>
          <input matInput placeholder="DD/MM/AAAA" [(ngModel)]="search.birthday" name="birthday" [type]="text">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="email@email" [(ngModel)]="search.email" name="email" [type]="email">
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <mat-error *ngIf="searchError">Nenhum registro foi encontrado.</mat-error>
        <mat-error *ngIf="searchEmptyError">Por favor, digite pelo menos um filtro.</mat-error>
      </div>
      <div class="col-md-4 search-button">
        <button (click)="doSearch()" mat-raised-button color="primary">Buscar</button>
      </div>
    </div>
  </mat-card>
  <div class="row">
    <div class="col-md-12" *ngIf="person && !creating">
      <mat-card>
        <span>Usuário encontrado</span>
        <form #uForm="ngForm" (submit)="onSubmitPerson(person, uForm)">
          <div class="row filters-container">
            <div class="col-md-2">
              <mat-form-field hintLabel="Máximo de 150 caracteres">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Victor Magalhães" maxlength="150" [disabled]="!editing" [(ngModel)]="person.name" name="name" [type]="text" required>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-label>CPF</mat-label>
                <input matInput placeholder="000.000.000-00" maxlength="14" [disabled]="!editing" [(ngModel)]="person.cpf" name="cpf" [type]="text" required>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-label>Data de nascimento</mat-label>
                <input matInput placeholder="DD/MM/AAAA" [disabled]="!editing" [(ngModel)]="person.birthday" name="birthday" [type]="text">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field hintLabel="Máximo de 400 caracteres">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="email@email" maxlength="400" [disabled]="!editing" [(ngModel)]="person.email" name="email" type="email" email required>
              </mat-form-field>
            </div>
            <div class="col-md-2 btn-tools">
              <button matTooltip="{{ editIcon == 'edit' ? 'Editar' : 'Salvar' }}"  type="editing ? submit : button" mat-mini-fab color="primary"><mat-icon>{{ editing ? 'done' : 'edit' }}</mat-icon></button>
              <button matTooltip="Remover" (click)="deletePerson(person)" mat-mini-fab color="primary"><mat-icon>delete</mat-icon></button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
    <div [hidden]="!creating" class="col-md-12">
      <mat-card>
        <span>Novo usuário</span>
        <form #uForm="ngForm" (submit)="onSubmitPerson(data, uForm)">
          <div class="row filters-container">
            <div class="col-md-2">
              <mat-form-field hintLabel="Máximo de 150 caracteres">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Victor Magalhães" maxlength="150" [(ngModel)]="data.name" name="name" [type]="text" required>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-label>CPF</mat-label>
                <input matInput placeholder="000.000.000-00" maxlength="14" [(ngModel)]="data.cpf" name="cpf" [type]="text" required>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-label>Data de nascimento</mat-label>
                <input matInput placeholder="DD/MM/AAAA" [(ngModel)]="data.birthday" name="birthday" [type]="text">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field hintLabel="Máximo de 400 caracteres">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="email@email" maxlength="400" [(ngModel)]="data.email" name="email" type="email" email required>
              </mat-form-field>
            </div>
            <div class="col-md-2 btn-tools">
              <button matTooltip="Salvar" type="submit" mat-mini-fab color="primary"><mat-icon>done</mat-icon></button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <mat-card>
    <div class="row list-persons">
      <div class="col-md-12">
        <mat-tab-group>
          <mat-tab label="Gráfico">
            <mat-card style="height: 300px">
              <canvas id="canvas">{{ chart }}</canvas>
            </mat-card>
          </mat-tab>
          <mat-tab label="Lista">
            <div class="filters-container">
              <div *ngFor="let person of persons" class="row">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Victor Magalhães" disabled maxlength="150" [(ngModel)]="person.name" name="name" [type]="text" required>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field>
                    <mat-label>CPF</mat-label>
                    <input matInput placeholder="000.000.000-00" disabled maxlength="14" [(ngModel)]="person.cpf" name="cpf" [type]="text" required>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Data de nascimento</mat-label>
                    <input matInput placeholder="DD/MM/AAAA" disabled [(ngModel)]="person.birthday" name="birthday" [type]="text">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="email@email" disabled maxlength="400" [(ngModel)]="person.email" name="email" type="email" email required>
                  </mat-form-field>
                </div>
                <div class="col-md-1 btn-tools">
                  <button matTooltip="Remover" (click)="deletePerson(person)" mat-mini-fab color="primary"><mat-icon>delete</mat-icon></button>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card>
</div>